<h1>マイページ</h1>
     <div class="main-mypage">
      <div class="align-left">
        <p>名前: <%= @user.name %></p>
        <p>email: <%= @user.email %></p>
        <%= link_to("編集", "/users/#{@user.id}/edit") %>
        <%= link_to("削除", "/users/#{@user.id}/destroy") %>
        </div>
     </div>
