
<h1>投稿一覧だお</h1>

<section class="card">
    <div class="card-content">
    <h2 class="card-title">投稿のタイトル</h2>
        <div class="card-text">
            <% @posts.each do |post| %>
        </div>
        <div class="userIndex">
                <%= link_to(post.content, "/posts/#{post.id}") %>
            <% end %>
        </div>
    </div>
</section>
