<div class="main">
<h1>投稿一覧だお</h1>

<section class="card">
    <div class="card-content">
        <% @posts.each do |post| %>
            <h2><%= link_to(post.title, "/posts/#{post.id}") %></h2>
            <div class="card-text">
            <%= link_to(post.content, "/posts/#{post.id}") %>
            </div>
                
            <% end %>
    </div>
</section>
</div>