<div class="main">
    
<h1>新規投稿の作成画面だお</h1>

<%= form_tag("/posts/create") do %>
    <div class="form">
        <div class="form-body">
            <textarea name="title"></textarea>
            <textarea name="content"></textarea>
            <input type="submit" value="投稿">
        </div>
    </div>
<% end %>

</div>