
*{
  padding:0;
  margin:0;
}

html {
  font: 100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
  line-height: 1.7;
  letter-spacing: 1px;
}

header {
  position: relative;
  height: 64px;
  z-index: 1;
  width: 100%;
  background-color: #eee
}
body{
    position: absolute;
    width:100%;
    height: 100%;
    min-height: 100%;
}

.container{
  height: 550px
}




.top-main {
  padding: 100px 0;
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 450px;
  color: white;
  background-color: #ffcc00;
  background-repeat: no-repeat;
  background-position: center 50%;
  background-size: cover;
  background-image: url("");
}

.footer{
    width:100%;
    position:absolute;
}

.footer-container{
    position:relative;
    height:120px; 
    background-color: #eee;
    padding-top:55px;
    
}

.footer-container p{
    text-align: center;
}



/**********************

aタグに関する記述

***********************/
a{
  text-decoration: none;
}
a:link{
  color:#3399cc;
}

a:visited {
  color: #000080;
}
  
a:hover {
  color: #ff0000; 
}

a:active { 
  color: #ff8000; 

}


.main{
  text-align: center;
  width: 100%;
  height: auto;
  min-height: 100%;
}



.main-mypage{
  width:500px;
  padding:30px;
  border:solid 1px #eee;
  display: inline-block;
  text-align:center;
}

.form-content{
  width:500px;
  padding:50px 30px;
  border:solid 1px #eee;
  text-align: center;
  display: inline-block;
}

.index-content{
  padding:30px 0; 
  width:500px;
  text-align: center;
  display: inline-block;
}
.align-left{
  text-align: left;
}



.form-error {
  
}

.form-error p{
  font-color:red;
}






/******************************
ヘッダーメニューに関する記述
*******************************/

ul {
  list-style-type: none;
}

.topTitle{
  padding: 10px 20px;
  float:left;
  font-size:20px;
  font-weight:700;
}

.header-menus {
  float: right;
  padding-right: 20px;
}

.header-menus li {
  float: left;
  line-height: 64px;
  font-size: 13px;
  padding-left: 15px;
}

.header-menus a {
  float: left;
  font-size: 13px;
  color: navy;
}



/******************************
inputやpタグなどに関する記述
*******************************/

h1, h2, h3, h4, h5{
    margin:20px;
}

p , input {
    margin-left:20px;
}


.userIndex {
     padding:10px 0;
     border:solid 1px #eee;

}

.flash{
  width:100%;
  padding:10px 40px;
  margin: -28px 0 20px 0;
  background-color:#cce1ff;

}
